<%= image_tag "add.png", :class => "image_button",
		:onClick => "el = $('question_#{@question.id}_add_option'); el.toggle(); el.focus();" %>
	<%= text_field_tag "question_#{@question.id}_add_option", "", :style => "display: none; width: auto;" %>
<script type="text/javascript">
  Event.observe('question_<%=@question.id%>_add_option', 'keyup', function (evt) {
		if (evt.keyCode == 13) {
			addOption(<%=@question.id%>, $('question_<%=@question.id%>_add_option').value);
		}
	});
</script>
