<div class="question">
        <div class="questionbody">
          <%= jipe_editor(@question, "caption", :class => "Question", :rows => 4,
                          :editing => @editing) %>
        </div>
</div>
