<%= start_question @question %>
<% if @editing -%>
	<% @question.question_options.each do |option| -%>
		<%= option.option %> <%= radio_button "question[]", "default_answer", option.option %>
	<% end -%>
<% else -%>
	<% @question.question_options.each do |option| -%>
		<%= option.option %> <%= radio_button_tag "question[#{@question.id}]", option.option, value == option.option %>
	<% end -%>
<% end -%>
<%= end_question @question %>