<h1>Confirmation</h1>

<p>Are you sure you want to delete the project named "<%= @project.name %>"?</p>

<% if @project.checkouts.count > 0 -%>
	<p><b>Note: <%= @project.name %> has <%= @project.checkouts.count %> open 
		checkout<%if @project.checkouts.count > 1%>s<%end%>, which will be
		destroyed if you answer "Yes".</b></p>
<% end -%>

<p>
<%= link_to "Yes", :confirm => true %>
<% 10.times do %>&nbsp;<% end %>
<%= link_to "No", :action => 'index' %>
</p>