{{#sortable-group tagName="div" classNames="pagelist" handle=".draghandle" as |group|}}
  {{#each pagesSorted as |page|}}
    {{#sortable-item handle=".draghandle"}}
      {{#link-to "page" this tagName="div" href=false}}
        <a {{action "setCurrentPage" page}}>
          <div class="draghandle"></div>
          <div class="caption">
            {{page.title}}
          </div>
          <button class="delete-page" {{action "deletePage" page bubbles=false}}></button>
        </a>
      {{/link-to}}
    {{/sortable-item}}
  {{/each}}
{{/sortable-group}}
