{{#with view.content as page}}
  {{#unless page.isFirstPage}}
    <div class="page-boundary"></div>
  {{/unless}}
  {{page-editor page=page questionnaire=questionnaire setCurrentPage="setCurrentPage"}}
{{/with}}