config/database.yml
config/scout.yml
config/journey_paywall.yml
log/*
vendor/plugins/journey_paywall
vendor/plugins/journey_sugarpond_branding
db/schema.rb
.loadpath
.project
*.kpf
.bundle/*
db/*.sqlite3
*.orig
tmp
/.sass-cache

# Ignore application configuration
/config/application.yml
