<div id="direct_link" class="publish_feature">
  <h3>Direct link</h3>
  
  <%= image_tag "publish_features/direct_link.png" %>
  
  <p>This is the public URL for your survey.  You can paste it into email, web sites, Twitter, or anywhere else you'd like to
  link to your survey.</p>

  <p>
    <input type="text" value="<%= questionnaire_answer_url @questionnaire %>" style="width: 60em;"/>
  </p>
</div>