<div id="embed_survey" class="publish_feature">
  <h3>Embed code</h3>
  
  <%= image_tag "publish_features/embed_survey.png" %>
  
  <p>You can embed your survey right into another web site.  The survey will appear in a box
  with a black border.  Just copy and paste the following HTML code:</p>
  
  <textarea><%=h %{<iframe src="#{answer_url @questionnaire}" style="border: 1px black solid; width: 780px; height: 580px;"></iframe>} %></textarea>
  </textarea>
  
  </div>
</div>