<div id="new_on_journey" class="publish_feature">
  <h3>New on Journey</h3>
  
  <% if @questionnaire.publicly_visible -%>        
    <p>Because you made your survey visible to the public, it's automatically included in the "New on Journey" feed.  You
    can see the feed or subscribe to it via RSS using <%= link_to "your dashboard", dashboard_path %>.</p>
  <% else -%>
    <p>Your survey is set not to appear in the public surveys list.  If you
    allow to appear, it will automatically show up in the "New on Journey" feed.</p>
    
    <p>To change this setting, go to the
    <%= link_to "publishing settings", :action => "settings" %>.</p>
  <% end -%>
</div>