<%= render :partial => "toolbar" %>

<div class="propertypage" style="padding: 0;">
  <p>This survey is currently <b>in design mode</b>.  If you want to allow people to take the survey, you must publish it.
  You cannot edit the survey while it is published.</p>
  
  <% link_to({ :questionnaire_id => @questionnaire.id, :action => "settings" }, { :class => "bigbutton" }) do -%>
    Publish this survey &raquo;
  <% end -%>
</div>
