<div id="login_container">
  <div class="login_content">
    <h2 style="margin-top: 0;">Forgot your password?</h2>
	
	<p>No problem.  Just type in your email address below and we'll <b>reset your password to a random one</b>, and send
  it to you via email.</p>
	
    <%= render :partial => "forgot_form" %>
  </div>
  
  <%= render :partial => "other_login_options" %>
</div>