<div id="login_container">
  <div class="login_content">
    <h2 style="margin-top: 0;">Log into Journey</h2>
    <%= render :partial => "auth_form" %>
  </div>
  
  <%= render :partial => "other_login_options" %>
</div>