<div id="login_container">
  <div class="login_content">
    <h2 style="margin-top: 0;">Log into Journey with OpenID</h2>
    <%= render :partial => "openid_auth_form" %>
  </div>
  <%= render :partial => "other_login_options" %>
</div>

