<div style="max-width: 60em;">
  
<h1>Privacy Policy</h1>

<p>We take privacy very seriously at Sugar Pond.  In this page, we've tried to explain what information
  our sites collect, and how that information is used, as clearly as possible.  If you have any 
  questions or concerns, please contact Nat Budin, at <%= mail_to "nat@sugarpond.net" %>.</p>

<h2>Profile Information</h2>

<p>When you sign up for an account on a Sugar Pond web site, we ask for several pieces of information
  in order to build a user profile.  Examples of the sort of information we collect for your profile
  include:</p>

<ul>
  <li>Your name</li>
  <li>Your email address</li>
  <li>Your date of birth</li>
  <li>Your gender</li>
</ul>

<p>This information is stored in a database on Sugar Pond's servers.  All web sites operated by
  Sugar Pond share the same user
  profile database.  This is so that you can use the same password to access all our sites.  The
  password you use is verified by Sugar Pond and not shared with other sites.</p>

<p>Some sites may also ask for additional details, such as your phone number, address, or other
  contact information.  This information will be stored locally, in a database only used by that
  site.</p>
  
<p>We do not give third parties access to our databases.  Occasionally, some pieces of user profile
  information may be visible (for example, Journey publishes the names of the authors of a survey
  to potential survey takers); however, we take privacy concerns very seriously and attempt to
  minimize the exposure of this information wherever possible.</p>

<p>We
  use the email addresses you provide in order to send out periodic announcements affecting all
  our users.</p>

<p>On (hopefully) very rare occasions, information might be taken from Sugar Pond's databases by
hackers, law enforcement officials, or other entities that may or may not have the legal right
to access your private information on our servers.  It is the policy of Sugar Pond, when possible,
to inform the affected users about this access as soon as it is practical under the circumstances.
Accordingly, we consider it vitally important that you provide us with correct contact information
when creating your account so that if contacting you about such an event is necessary, we can
promptly notify you about it.</p>
  
<p>If you want to change your stored profile information, you can do so by clicking the "Profile"
  link on the right side of the Journey toolbar while logged into the site.</p>

<h2>Survey Answers</h2>

<p>Journey is designed to administer online surveys.  Due to this, surveys on Journey may
  ask for personal information, which will be made visible to the administrators of the survey.
  When you fill out a Journey survey, any answers you give will be shared with the survey's
  creator, as well as anyone they choose to share that information with.  Sugar Pond does not
  and as a practical matter cannot take responsibility for what the survey creators do with the
  information you provide.</p>
  
<p>However, Sugar Pond does allow you to control your private information while making the surveys
  easier to fill out.  If you are logged into Journey when taking a survey, Journey may pre-fill some of your answers
  to the survey using your profile information.  This is not mandatory: if you wish, you may erase 
  the pre-filled answers and/or replace them with other answers.</p>
  
<p>Some surveys may mark certain questions as "required," meaning that you must provide an answer
  to them in order to submit the survey.  For such questions, Journey does not enforce any constraints
  beyond that an answer of some sort is provided.</p>

<p>If you have any questions or concerns about how your information will be used, we urge you to
  contact the survey creator before filling out the survey to get your questions answered.  Likewise,
  if you have any concerns regarding what Sugar Pond will do with its information, we encourage you to
  contact us with any questions you have.</p>

</div>