<ul class="analyze_toolbar">
	<li><%= link_to "View Responses", :action => 'responses', :id => @params[:id] %></li>
	<li><%= link_to "Aggregate", :action => 'aggregate', :id => @params[:id] %></li>
</ul>