<div class="new">
  <b>New Larp</h1>

  <%= error_messages_for :larp %>

  <% form_for(:larp, :url => larps_path) do |f| %>
    <p>
      <b>Name</b><br />
      <%= f.text_field :name %>
    </p>

    <p>
      <%= submit_tag "Create" %>
    </p>
  <% end %>
</div>