.larp {
        border: 1px black solid;
        background-color: #ddd;
        padding: 2px;
        margin: 2px;
}

.show {
        font-weight: bold;
}

img.icon {
        vertical-align: middle;
}

img {
    border: 0;
}

.new {
        border: 1px black solid;
        background-color: #ffc;
        padding: 2px;
}

table.itemheader {
        width: 100%;
        font-weight: bold;
        border: none;
        text-align: right;
}

table.itemheader tr > td:first-child {
        text-align: left;
}

#questionnaireedit {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 1em;
    padding: 0;
}

#questionnaireedit #container {
    margin-left: 210px;
}

#questionnaireedit #pagesheading, #questionnaireedit #pages {
    left: -210px;
    width: 210px;
    float: left;
    position: relative;
}

#questionnaireedit div {
    margin: 0;
    padding: 0;
}

#questionnaireedit #pagesheading, #questionnaireedit #pageheading {
    border-bottom: 1px black solid;
    background-color: #ddd;
    padding-top: 1pt;
    padding-bottom: 1pt;
    position: relative;
    top: 0;
    height: 12pt;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

#questionnaireedit #pagesheading {
    width: 210px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 11pt;
}

#questionnaireedit #pageheading, #questionnaireedit #editpage {
    width: 100%;
    vertical-align: top;
}

#questionnaireedit #pages {
    padding-bottom: 0.5em;
    vertical-align: top;
    clear: left;
}

#questionnaireedit #editpage {
    margin-left: -210px;
    float: left;
    padding: 0;
    height: 480px;
}

#questionnaireedit #pages li.page {
    border: 0;
    border-bottom: 1px #666 solid;
    border-right: 1px #666 solid;
    margin: 0;
    background-color: #aaa;
    padding: 2px;
    min-height: 16px;
    display: block;
    cursor: move;
}

#questionnaireedit #pages li.page.activepage {
    border-right: 0;
    background-color: #ffa;
}

#questionnaireedit #pages li.page div.caption {
    float: left;
    display: inline;
    width: 173px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 16px;
}

#questionnaireedit #pages li.page a {
    float: right;
    clear: none;
}

#questionnaireedit #pages ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 0.5em;
}

#questionnaireedit iframe#pageview {
    border: 0;
    width: 100%;
    height: 100%;
}

div.vertical-fill {
    min-height: 100%;
}

.vertical-fill-header {
}

.vertical-fill-body {
    padding: 1em 1em 5em;
    min-height: 100%;
}

.vertical-fill-footer {
    position: absolute;
    bottom: 0pt;
}

form.inplaceeditor-form {
    display: inline;
}

img.image_button {
    cursor: pointer;
}