.larp {
        border: 1px black solid;
        background-color: #ddd;
        padding: 2px;
        margin: 2px;
}

.show {
        font-weight: bold;
}

img.icon {
        vertical-align: middle;
}

img {
    border: 0;
}

.new {
        border: 1px black solid;
        background-color: #ffc;
        padding: 2px;
}

table.itemheader {
        width: 100%;
        font-weight: bold;
        border: none;
        text-align: right;
}

table.itemheader tr > td:first-child {
        text-align: left;
}

#questionnaireedit {
    /*border: 1px solid black;*/
    width: 100%;
    margin-bottom: 1em;
    padding: 0;
}

#questionnaireedit #container {
    margin-left: 210px;
}

#questionnaireedit #pagesheading, #questionnaireedit #pages {
    left: -210px;
    width: 210px;
    float: left;
    position: relative;
}

#questionnaireedit div {
    margin: 0;
    padding: 0;
}

#questionnaireedit #pagesheading, #questionnaireedit #pageheading {
    border-top: 1px black solid;
    background-color: #aaa;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    top: 0;
    height: 12pt;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

#questionnaireedit #pagesheading {
    width: 210px;
    border-bottom: 1px #666 solid;
}

#questionnaireedit #pageheading {
    padding-right: 2px; /* to compensate for the border on editpage */
}

#questionnaireedit #pageheading, #questionnaireedit #editpage {
    width: 100%;
    vertical-align: top;
}

#questionnaireedit #pages {
    padding-bottom: 0.5em;
    vertical-align: top;
    clear: left;
}

#questionnaireedit #editpage {
    margin-left: -210px;
    float: left;
    padding: 0;
    height: 480px;
    position: relative;
    top: -1px; /* not really sure why I have to do this */    
}

#questionnaireedit #pages li.page {
    border: 0;
    border-bottom: 1px #666 solid;
    border-left: 1px #666 solid;
    margin: 0;
    background-color: #ddd;
    padding: 2px;
    min-height: 16px;
    display: block;
    cursor: pointer;
    background-image: url(/images/page-tab-gradient.png);
}

#questionnaireedit #pages div.draghandle {
    float: left; 
    width: 5px; 
    overflow: hidden; 
    background-color: #00f; 
    left: -2px; 
    top: -2px; 
    position: relative; 
    height: 19px; 
    cursor: move;   
}

#questionnaireedit #pages li.page.activepage {
    border-right: 0;
    background-color: #fff;
    background-image: none;
    
    /* omg this is fugly */
    z-index: 1;
    width: 206px;
}

#questionnaireedit #pages li.page div.caption {
    float: left;
    display: inline;
    width: 182px; /* +5px if we get rid of drag handles */
    overflow: hidden;
    white-space: nowrap;
    line-height: 16px;
    text-align: right;
}

#questionnaireedit #pages li.page a {
    float: right;
    clear: none;
}

#questionnaireedit #pages ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 0.5em;
}

#questionnaireedit iframe#pageview {
    border: 1px black solid;
    width: 100%;
    height: 100%;
}

div.vertical-fill {
    min-height: 100%;
}

.vertical-fill-header {
}

.vertical-fill-body {
    padding: 1em 1em 5em;
    min-height: 100%;
}

.vertical-fill-footer {
    position: absolute;
    bottom: 0pt;
}

form.inplaceeditor-form {
    display: inline;
}

img.image_button {
    cursor: pointer;
    vertical-align: middle;
    border: 0;
}

ul.tabstrip {
    list-style: none;
    margin-bottom: 6px;
    padding-left: 12px;
}

ul.tabstrip li {
    display: inline;
    border: 1px black solid;
    border-bottom: none;
    padding: 6px;
    margin-right: 12px;
    background-color: #ddd;
}

ul.tabstrip li a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

ul.tabstrip li.selected {
    background-color: #ccd87f;
}

div.tabpage {
    background-color: #ccd87f;
    padding: 6px;
}

div#toolbox {
    background-color: #ffc675;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #754500;
}

div#toolbox ul {
    padding-left: 0.5em;
}

div#toolbox ul li {
    display: inline;
}

div#toolbox input[type='button'] {
    border: #754500 1px solid;
    color: #512f00;
    background-color: #ffa92e;
    padding: 3px;
}

ul.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    border: #666 1px solid;
    background-color: #fff;
    padding: 2px;
    z-index: 100;
}

ul.dropdown li {
    list-style-type: none;
}

ul.dropdown li:hover {
    background-color: #ffc;
}

ul.dropdown li a {
    text-decoration: none;
    color: #000;
}

.selected_dropdown_icon {
    background-color: #fff;
}

div.special_purpose {
    background-color: #fff;
    display: inline;
    border: 1px black solid;
}