.questionnaireedit ul {
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}

.questionnaireedit ul li {
    padding-left: 2px;
    padding-right: 2px;
}

.questionnaireedit ul li.pagehead {
    border-top: none;
    background-color: transparent;
}

.questionnaireedit ul li .question {
    margin-right: 110px;
    width: auto;
    display: block;
}

.questionnaireedit ul li a.editquestion {
    float: right;
    width: 94px;
    border: 1px #bad032 solid;
    background-color: #fff;
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 2px;
}

.questionedit {
    border: 3px solid #006a32;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.questionedit .editcontrols, .questionedit .editforms {
    background-color: #006a32;
    padding: 2px;
}

.questionedit .editcontrols {
    text-align: right;
}

.questionedit .editcontrols a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 90%;
}

.questionedit .question {
    padding: 2px;
}

.questionedit form {
    background-color: #fff;
    border: 1px #bad032 solid;
    border-radius: 5px;
    display: inline-block;
    width: 304px;
    vertical-align: top;
}

.questionedit form * {
    margin-left: 2px;
    margin-right: 2px;
}

.questionedit form h3 {
    margin-top: 0;
    background-color: #bad032;
    font-size: 12pt;
    margin: 0;
    text-align: center;
}

.questionedit form label {
    float: left;
    width: 100px;
    clear: both;
}

.questionedit form input, 
.questionedit form select {
    float: left;
    width: 190px;
}

.questionedit form input[type=submit] {
    float: none;
    margin-left: 105px;
    margin-top: 12pt;
}

