<h1>Questionnaire Closed</h1>

<p>We're sorry - the questionnaire <i><%=@questionnaire.title%></i> has been closed by its administrator.</p>
	
<p>If you feel you have
	reached this page in error, please contact the person who told you to fill out this questionnaire.</p>