<div class="leftcolumn" style="top: 50%; margin-top: -180px;">
  <%= image_tag "welcome/responses-index-shadow.png" %>
</div>

<div class="rightcolumn" style="top: 50%; margin-top: -160px;">
  <%= image_tag "welcome/simply-ask.png" ,:alt => "Simply ask." %>

  <p style="font-size: 120%;">Online surveys the way they should be: simple, flexible, and 
  hassle-free.</p>

  <p>Whether it's market research, feedback questionnaires, or online polls, Journey
  lets you get answers.  Design a survey, watch the responses in realtime, analyze your
  answers, and download the results into a spreadsheet.  It's that simple.</p>

  <p style="text-align: center; padding-top: 1em;">
    <% link_to({:action => "tour"}, {:class => "bigbutton"}) do -%>
    Take a tour &#187;
    <% end -%>
  </a>
</p>

</div>