<% if not @resp.submitted -%>
	<h1>Session saved</h1>
	
	<p>You have saved your response in progress to this survey.  When you come back to Journey and log in, you'll be
	  able to pick it up where you left off.</p>
<% else -%>
	<h1>Thank you!</h1>
	
	<p>You have successfully submitted your answers to the <%=h @resp.questionnaire.title %> survey.</p>
<% end -%>

<ul>
  <li>
    <%= link_to :action => 'prompt', :id => @resp.questionnaire.id do %>
	  Go back to the front page of this survey &raquo;
    <% end -%>
  </li>
  <li>
    <%= link_to root_url do %>
	   Go to the main page of Journey &raquo;
    <% end -%>
  </li>
</ul>

	