<% if @editing -%>
  <% if logged_in? and logged_in_person.permitted?("edit_answers", @question.questionnaire) -%>
    <%= text_area_tag "answer[#{@question.id}]", value, :rows => 4 %>
  <% end -%>
<% else -%>
  <% if logged_in? and logged_in_person.permitted?("view_answers", @question.questionnaire) -%>
    <%= simple_format value %>
  <% end -%>
<% end -%>
