<%= render :partial => "analyze_toolbar" %>

<script type="text/javascript">
	function seriesSelected() {
		graph = $('graph');
		seriesId = $('fields').value;
		url = "<%= aggregate_responses_url(@questionnaire, :format => :png) %>";
		url += "?question_id=" + seriesId;
		url += "&geom=" + graph.offsetWidth + "x" + graph.offsetHeight;
		graph.src = url;
	}
</script>

<div id="aggregate_container" style="position: relative; width: 100%; height: 600px;">
	<div style="width: 25%; height: 100%; position: absolute;">
		<%= select_tag "fields", options_for_select(@fields.collect { |f| [ f.caption, f.id ] }), 
			{ :multiple => true, :style => "width: 100%; height: 100%;", :onChange => "seriesSelected()" } %>
	</div>

	<img style="width: 75%; height: 100%; left: 25%; position: absolute;" id="graph" />
</div>


