<script type="text/javascript">
window.questionnaireData = <%=raw QuestionnaireSerializer.new(@questionnaire).to_json %>;
</script>
<%= include_ember_script_tags :journey_ember %>
<%= include_ember_stylesheet_tags :journey_ember %>

<div id="questionnaire_edit" data-questionnaire-id="<%= @questionnaire.id %>"></div>