<%= render :partial => "outer_tabs" %>

<div class="propertypage">
	<h2>Create a new survey</h2>
		<% form_for(:questionnaire, @questionnaire, :url => questionnaires_path) do |f| %>
		  <p><label for="questionnaire_title">Title:</label> <%= f.text_field "title" %></p>
		  <%= render :partial => 'creator_warnings' %> 
		  <%= submit_tag "Create" %>
		<% end %>
	</h2>
</div>
