<h1>New questionnaire</h1>

<%= error_messages_for :questionnaire %>

<% form_for(:questionnaire, :url => questionnaires_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', questionnaires_path %>