<%= render :partial => "toolbar" %>

<div class="propertypage">
  <h2>Share</h2>
  
  <% if person_signed_in? and current_person.can?(:change_permissions, @questionnaire) -%>
    <p>You can allow other people to make changes to this survey and its responses.  Use the controls below to make changes
	   to these settings.</p>
  <% else -%>
    <p>These are the people who are allowed to make changes to this survey and its responses:</p>
  <% end -%>
    
  <%= render :partial => "permission/show", :locals => { :item => @questionnaire }%>
</div>
