<h1>Welcome to Journey.</h1>

<p>Journey is a web toolkit from <a href="http://www.aegames.org">Alleged Entertainment</a>
	for producing Live Action Roleplaying Games, or LARPs.  Journey is designed to be the
	LARP GM's swiss army knife.</p>
	
<p>To begin using Journey, take a look at the navigation bar on the left side of the page,
	and either select the link to log in, or select one of the navigation choices on the bar.</p>