<ul {{bind-attr class=":radio-field view.radioLayoutClass"}}>
  {{#each questionOption in view.content.questionOptions}}
    <li>
      <label>
        {{view 'radio-button-view' valueBinding="questionOption.option" targetBinding="view.content.defaultAnswer"}}
        {{questionOption.option}}
      </label>
      <span class="radiospacer">&nbsp;</span>
    </li>
  {{/each}}
</ul>