{{#each pages as |page|}}
  {{#unless page.isFirstPage}}
    <div class="page-boundary"></div>
  {{/unless}}
  <page-editor page=page questionnaire=questionnaire setCurrentPage="setCurrentPage" register={{action 'register'}} />
{{/each}}
