<h2>Support Journey</h2>

<p>We provide free online survey services for everyone.  If you'd like to make a donation to help cover our web hosting costs, please click the link below.</p>

<p style="text-align: center;">
  <%= render :partial => "sugar_pond/donation_button" %>
</p>
