<h2>My Surveys</h2>

<ul style="max-height: 30em;">
  <% @my_questionnaires.each do |questionnaire| -%>
    <li>
      <span style="font-size: 90%; float: right;">
        <% link_to responses_path(questionnaire) do -%>
         <%= pluralize questionnaire.valid_responses.count, "response" %>
        <% end -%>
      </span>
      <%= link_to questionnaire.title, questionnaire_path(questionnaire) %>
    </li>
  <% end -%>
</ul>

<div class="footer">
  <% link_to new_questionnaire_path, :class => "bigbutton" do -%>
    Create a survey, or import one from XML &raquo;
    <%= render :partial => "questionnaires/creator_warnings" %>
  <% end -%>
</div>