<h2>
  <span style="float: right;">
    <% link_to questionnaires_url(:format => "rss") do -%>
      <%= image_tag "feed-icon-24x24.png", :style => "border: none; vertical-align: top",
          :alt => "Subscribe to RSS feed", :title => "Subscribe to RSS feed" %>
    <% end -%>
  </span>
  New on Journey
  <div style="clear: both;"></div>
</h2>

<ul>
  <% @new_questionnaires.each do |questionnaire| -%>
    <li>
      <span style="font-size: 90%; float: right;">
        <%= time_ago_in_words questionnaire.published_at %> ago
      </span>
      <% if person_signed_in? and Questionnaire.permission_names.any? { |p| logged_in_person.permitted?(questionnaire, p) } -%>
        <%= link_to questionnaire.title, questionnaire %>
      <% else -%>
        <%= link_to questionnaire.title, answer_path(questionnaire) %>
      <% end -%>
    </li>
  <% end -%>
</ul>

<div class="footer">
  <% link_to questionnaires_path, :class => "bigbutton" do -%>
    Explore more surveys &raquo;
  <% end -%>
</div>