<div id="leftcolumn">
  <% Journey::Dashboard.left_dashboxes.each do |partial| -%>
    <div class="dashbox">
      <%= render :partial => partial %>
    </div>
  <% end -%>
</div>

<div id="rightcolumn">
  <% Journey::Dashboard.right_dashboxes.each do |partial| -%>
    <div class="dashbox">
      <%= render :partial => partial %>
    </div>
  <% end -%>
</div>

<div style="clear: both;">
</div>