<div style="max-width: 60em; position: relative;">
  <h1>Welcome!</h1>

  <p>Journey is a site for online surveys.</p>
    
  <div id="leftcolumn">
    <div class="dashbox">
      <h2>Your dashboard awaits</h2>

      <p>With a free Journey account, you can keep track of the surveys you've taken, and find new surveys
        using your Journey dashboard.  Signing up is quick and easy!</p>
    
      <% link_to(new_person_session_path, { :class => "bigbutton" }) do -%>
        Log in, or sign up free &raquo;
      <% end -%>
    </div>
    
    <div class="dashbox">
      <h2>Create a survey</h2>
      
      <p>Customer feedback, market research, polls - you name it!  Journey makes it simple to create online
        surveys.</p>
      
      <p>To create surveys, you'll need a Journey account.</p>
      
      <% link_to(new_person_session_path, { :class => "bigbutton" }) do -%>
        Get started &raquo;
      <% end -%>
    </div>
  </div>
  
  <div id="rightcolumn">
    <div class="dashbox">
      <%= render :partial => "new_surveys" %>
    </div>
  </div>
</div>