<ul {{bind-attr class=":radio-field radioLayoutClass"}}>
  {{#each questionOption in question.questionOptions}}
    <li>
      <label>
        <radio-button value=questionOption.option groupValue=question.defaultAnswer>
          {{questionOption.option}}
        </radio-button>
      </label>
      <span class="radiospacer">&nbsp;</span>
    </li>
  {{/each}}
</ul>