<h1>Support</h1>

<div class="propertypage">
  <h2>Problems?  Ideas?  Questions?  We're here to help.</h2>
  
    <p>You can talk to us via 
	  <%= link_to "our community support forum", "https://github.com/nbudin/journey/issues" %>,
	  powered by GitHub. There, you'll be able to ask questions and respond to other users.</p>

</div>
