{{#collection "QuestionnaireEdit.SortableView" contentBinding="questionnaire.pagesSorted" classNames="pagelist" handle=".draghandle"}}
  {{#link-to "page" this}}
    <div class="draghandle"></div>
    <div class="caption">
      {{title}}
    </div>
    <button class="delete-page" {{action "deletePage" this bubbles=false}}></button>
  {{/link-to}}
{{/collection}}
