<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
  <title>Journey</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <%= dynamic_stylesheet_link_tag 'journey' %>
        <%= dynamic_stylesheet_link_tag 'questionnaire' %>
        <!--[if IE 7]>
          <%= dynamic_stylesheet_link_tag 'ie7hacks' %>
        <![endif]-->
  <%= ae_form_stylesheet %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag '/jipe/jester' %>
  <%= javascript_include_tag '/jipe/jipe' %>
  <%= javascript_include_tag 'browserdetect.js' %>
  <%= javascript_include_tag 'lowpro' %>
  <%= javascript_include_tag 'overlabel' %>
  <%= javascript_include_tag "layout" %>
  <%= yield :javascript %>
  <% if @rss_url %>
    <link rel="alternate" title="RSS Feed" href="<%=@rss_url%>" type="application/rss+xml"/>
  <% end %>
  <script type="text/javascript">
      Event.addBehavior.reassignAfterAjax = true;
      Event.addBehavior({
         'div.pagination a' : Remote.Link,
         'a.viewresponse': Remote.Link,
         'form.filterbar' : Remote.Form
      });
  </script>
</head>
<body id="body">

<% if flash[:error_messages] -%>
    <div class="errors">
        <h2>There were errors processing your request:</h2>
        <ul>
                <% flash[:error_messages].each do |error| -%>
                        <li><%= error %></li>
                <% end -%>
        </ul>
    </div>
<% end %>

<div class="topbar">
    <div style="float: left; vertical-align: middle; padding-top: 5px; padding-left: 5px;">
        <%= link_to(image_tag("journey26-logo.png", :border => "0", :alt => "Journey 2.6"), questionnaires_url) %>
    </div>
    <div style="width: 400px; float: right">
        <%= render :partial => 'auth/auth_form' %>
    </div>
</div>

<div id="ie_warning" style="display: none; padding-left: 1em; padding-right: 1em; border: #f00 1px solid; background-color: #fcc;">
  <h2>Warning for Internet Explorer users</h2>
  
  <p>Journey is known not to work well with Microsoft Internet Explorer.  Answering questionnaires will work
    fine with any browser, but other functionality, such as editing, importing, exporting, and analyzing
    questionnaires may fail.</p>
  
  <p>Journey is tested and known to work with the following browsers:</p>
  
  <ul>
    <li><a href="http://www.getfirefox.com">Mozilla Firefox 2.0 and up</a></li>
    <li><a href="http://www.apple.com/safari">Safari 3.0 and up</a></li>
  </ul>
  
  <p>Both of these browsers are available for free, and we recommend their use over Internet Explorer not
    just for this site, but in general, due to their greater track record for security, stability, and
    web standards compliance.</p>
</div>

<script type="text/javascript">
  displayBrowserWarning('ie_warning', "Explorer");
</script>

<%= @content_for_layout %>

</body>
</html>
